body{
    background-color:#242038;
    z-index: 0;
}
.column1 {
    background-color:#725AC1;
    color: white;
}

.column2 {
    background-color:#8D86C9;
}

.column3 {
    background-color:#8D86C9;
}

/* couldn't figure out how to change the navbar color */
/* .navbar-dark {
    bs-navbar-color-rgb: #242038;
} */

.row1, .row2, .row3, .row4, .row5 {
    background-color: #e7dced;
    border: 1px solid black;
    box-shadow: 0px 0px 2px 2px rgba(50, 0, 80, 0.75);
    min-height: 15vh;
    border-radius: 5px 5px 5px 5px;
    margin-top: 8px;
}

.row1 {
    margin-top:15px;
}


/* will edit icons later */
/* .fa-solid.fa-dove {

}

.fa-solid.fa-user {

} */

.btn.btn-outline-light {
    margin-top: 15px;
}

.form-select {
    margin-top: 15px;
    min-height: 50vh;
}

.btn.btn-outline-dark {
    margin-top: 10px;
   padding: 5px 10px 10px 10px;
}