body{
    background-color:#242038;
    z-index: 0;
}
.column1 {
    background-color:#725AC1;
    color: white;
}

.column2 {
    background-color:#8D86C9;
}

.column3 {
    background-color:#8D86C9;
}

.row1, .row2, .row3, .row4, .row5 {
    background-color: #e7dced;
    border: 1px solid black;
    box-shadow: 0px 0px 2px 2px rgba(50, 0, 80, 0.75);
    min-height: 15vh;
    border-radius: 5px 5px 5px 5px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.row1 {
    margin-top:15px;
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.75);
    background-color: rgba(50, 0, 80, 0.75);
    color: white;
}

.row1:hover {
    background-color:#e7dced;
    color: black;
}


.row4 {
    margin-bottom: 10px;
}

.btn.btn-outline-light {
    margin-top: 15px;
}

.form-select {
    margin-top: 15px;
    min-height: 50vh;
}

.btn.btn-outline-dark {
    margin-top: 10px;
   padding: 5px 10px 10px 10px;
}

.text-nowrap, .timeStamp {
    display: flex;
    self-align: flex-start;
    padding-left: 10px;
}

.timeStamp {
    font-size: 13px;
    line-height:5px;
}

.senderColumn3, .openedEmail {
    display: flex;
    padding-top: 15px;
    padding-left: 10px;
    /* text-align: flex-start;
     */
} 

.readEmailInformation {
    background-color:#e7dced;
    border-radius: 5px 5px 5px 5px;
    min-height: 35vh;
    margin-top: 15px;
    padding-bottom: 10px;
}

.senderWithActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}
.emailActionIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px;
}

.fa-solid.fa-envelope-open:hover, .fa-solid.fa-reply:hover, .fa-solid.fa-trash:hover {
    color: gray;
}